<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - 基础表格</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link href="css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min.css?v=3.2.0" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="search-form" style="margin-left: 20px;margin-right: 20px;margin-top: 20px;margin-bottom: 5px;">
    <form action="index.html" method="get">
        <div class="input-group">
            <input type="text" placeholder="后台主题" name="search" class="form-control input-lg">
            <div class="input-group-btn">
                <button class="btn btn-lg btn-primary" type="submit">
                    搜索
                </button>
            </div>
        </div>

    </form>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div class="col-sm-6" style="width:100%">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>报名信息</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="table_basic.html#">导出</a>
                            </li>

                        </ul>

                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>年龄</th>
                            <th>状态</th>
                        </tr>
                        </thead>
                        <tbody id="searchResult">
                        <tr th:if="${userModel.enteredDetailLsit.size()} eq 0">
                            <td colspan="3">没有用户信息!</td>
                        </tr>
                        <tr th:each="enteredDetail : ${userModel.enteredDetailLsit}">

                            <td th:text="${enteredDetail.name}"></td>
                            <td th:text="${enteredDetail.sex}"></td>
                            <td th:text="${enteredDetail.classes}"></td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- 全局js -->
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js?v=3.4.0"></script>



<!-- Peity -->
<script src="js/plugins/peity/jquery.peity.min.js"></script>

<!-- 自定义js -->
<script src="js/content.min.js?v=1.0.0"></script>


<!-- iCheck -->
<script src="js/plugins/iCheck/icheck.min.js"></script>

<!-- Peity -->
<script src="js/demo/peity-demo.min.js"></script>

<script>
    $(document).ready(function () {
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
    });
</script>


</body>

</html>